<div class="row">
  <div class="span9">
    <div class="well lead">
    We have many friends and our friendship circle is growing.  Become a friend of the growing number of CTO's building Internet based companies in San Diego.
  <!--   <%= link_to "Learn More", mission_path, :class => "lead" %>-->
    </div>

    <table class="table">
      <tr>
        <th></th><th>Level I</th><th>Level II</th><th>Level III</th>
      </tr>
      <tr>
        <td>Honorable mention on this website</td>
        <td><i class="icon-ok"></i></td>
        <td><i class="icon-ok"></i></td>
        <td><i class="icon-ok"></i></td>
      </tr>
      <tr>
        <td>Honorable mention at events</td>
        <td></td>
        <td><i class="icon-ok"></i></td>
        <td><i class="icon-ok"></i></td>
      </tr>
      <tr>
        <td>Complete Profile Page on this website</td>
        <td></td>
        <td><i class="icon-ok"></i></td>
        <td><i class="icon-ok"></i></td>
      </tr>
      <tr>
        <td>Invitation to social events</td>
        <td></td>
        <td><i class="icon-ok"></i></td>
        <td><i class="icon-ok"></i></td>
      </tr>
      <tr>
        <td>Invitation to Whiteboard Sessions</td>
        <td></td>
        <td></td>
        <td><i class="icon-ok"></i></td>
      </tr>
      <tr>
        <td>Give a Technical talk at Whiteboard Session</td>
        <td></td>
        <td></td>
        <td><i class="icon-ok"></i></td>
      </tr>
      <tr>
        <td>Exclusivity in field of expertise</td>
        <td></td>
        <td></td>
        <td><i class="icon-ok"></i></td>
      </tr>
      <tr>
        <td>Monthly Price (minimum of 6 months)</td>
        <td><b>$250</b></td>
        <td><b>$500</b></td>
        <td><b>$1,000</b></td>
      </tr>
    </table>

  </div>
  <div class="span3">
    <h2>Current Friends</h2>
    <table class="table table-striped">
      <tr><td><a href="http://www.monkdevelopment.com/">Monk Development, Inc.</a></td></tr>
      <tr><td><a href="http://www.landmark-events.com/">LandMark Events</a></td></tr>
      <tr><td><a href="http://www.newrelic.com/">New Relic</a></td></tr>
    </table>
  </div>
</div>
