<div class="well lead">
  A closely knit community of Chief Technology geeks, empowering each other to grow in their astute leadership of San Diego's hottest Internet companies.
<!--   <%= link_to "Learn More", mission_path, :class => "lead" %>
 --></div>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <img src="http://photos2.meetupstatic.com/photos/event/8/d/3/8/event_129096152.jpeg" alt="">
      <h5>CTO's in an Elevator / Jun 2012</h5>
      <p>Headed out to the after party.</p>
    </div>
  </li>
    <li class="span3">
          <div class="thumbnail">

      <img src="http://photos2.meetupstatic.com/photos/event/8/d/0/6/event_129096102.jpeg" alt="">
            <h5>CTO's in an Elevator / Jun 2012</h5>
      <p>Headed out to the after party.</p>
    </div>
  </li>
     <li class="span3">
          <div class="thumbnail">

      <img src="http://photos4.meetupstatic.com/photos/event/8/c/c/0/event_129096032.jpeg" alt="">
            <h5>CTO's in an Elevator / Jun 2012</h5>
      <p>Headed out to the after party.</p>
    </div>
  </li>
<!--     <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://photos2.meetupstatic.com/photos/event/8/c/b/6/event_129096022.jpeg" alt="">
    </a>
  </li>
     <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://photos1.meetupstatic.com/photos/event/8/c/a/2/event_129096002.jpeg" alt="">
    </a>
  </li>
     <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://photos1.meetupstatic.com/photos/event/8/c/5/c/event_129095932.jpeg" alt="">
    </a>
  </li> -->
</ul>





